<%- include('layouts/header'); -%>

<title>Alle revisorer</title>
</head>
<body>
<%- include('layouts/scripts'); -%>
<%- include('layouts/nav'); -%>
<h1>Alle revisorer</h1>

<% if(revisorer.length != 0) { %>
    <form>
        <select name="id">
            <% for (var i=0; i<revisorer.length; i++){ %>
                <option value="<%= revisorer[i].id %>"><%= revisorer[i].navn %></option>
            <% } %>
        </select>
        <button type="submit">Gå til revisor</button>
    </form>
<% } else { %>
    <p>Ingen revisorer</p>
<% } %>

<script>
function goTo(){
    console.log('klikket');
}
</script>

<%- include('layouts/footer'); -%>