<%- include('layouts/header'); -%>

<title>Vis møder</title>
</head>
<body>
<%- include('layouts/scripts'); -%>
<%- include('layouts/nav'); -%>
<% console.log(moeder) %>
<% if(moeder.length != 0) { %>
    <% for (var i=0; i<moeder.length; i++){ %>
        <% if(moeder[i].type == 'normal') { %>
            <p>Type: Normal</p>
            <p><%= moeder[i].id %></p>
            <p><%= moeder[i].time %></p>
        <% } else if(moeder[i].type == 'skat') { %>
            <p>Type: skat</p>
            <p><%= moeder[i].id %></p>
            <p><%= moeder[i].skat %></p>
            <p><%= moeder[i].time %></p>
        <% } %>
        <p>----------------</p>
    <% } %>
<% } else { %>
    <p>Ingen revisorer</p>
<% } %>

<%- include('layouts/footer'); -%>